<div class="job_projects">
    <div class="row">
        <!-- Start of ngFor loop -->
        <div class="col-sm-4" *ngFor="let p of listprojet ">

            <div class="single_jobs jobs_border text-center mt-30 mx-auto custom-card-size">
                <img src="assets/images/jobs-1.jpg" alt="jobs">
                <div class="jobs_content">
                    <h4 class="jobs_title"><a href="job-details.html">{{p.nom}}</a></h4>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class="location"> {{p.description}}</p>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class=""> {{p.prix}}</p>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class="location"><i class="fa fa-map-marker"></i> {{p.dateProjet}}</p>
                    <p class="time"><i class="fa fa-clock-o"></i> Full time</p>
                </div>
                <div class="jobs_btn">
                    <a href="job-details.html" class="main-btn main-btn-2" [routerLink]="['/projet/addprojet']"  >apply now</a>
                </div>
            </div> <!-- single jobs -->
        </div>
        <!-- End of ngFor loop -->
    </div>
    <ul class="pagination">
        <li class="page-item"><a class="active" href="#">01</a></li>
        <li class="page-item"><a href="#">02</a></li>
        <li class="page-item"><a href="#">03</a></li>
        <li class="page-item"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul> <!-- pagination -->
</div> <!-- job projects -->
