

<!-- ======= Sidebar ======= -->

<br /><br /><br /><br />

<!-- ======= Sidebar ======= -->

  <div class="job_projects">
    <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>lettre Motivation</th>
                <th>email</th>
                <th>tel</th>
                <th>cv</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Start of ngFor loop -->
            <tr *ngFor="let p of linkedCondidatures">
              <td>{{p.nom}}</td>
                <td>{{p.prenom}}</td>
                <td>{{p.lettreMotivation}}</td>
                <td>{{p.email}}</td>
                <td>{{p.tel}}</td>

             
                <td>
                  <button class="elegant-download-btn"   (click)="download(p.pieceJointe)">Download CV</button>
                </td>
                <td>              
                  <button class="main-btn " (click)="delete(p)">delete</button>
                </td>
            </tr>
            <!-- End of ngFor loop -->
        </tbody>
    </table>
</div>
