

<!-- ======= Sidebar ======= -->
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Formations list </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formations </h5>


            <!-- Table with stripped rows -->
            <table class="table datatable" *ngFor="let item of listFormation">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date Debut</th>
                  <th scope="col">Date Fin</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.titre}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.date_debut | date: 'yyyy-MM-dd'}} </td>
                  <td>{{item.date_fin | date: 'yyyy-MM-dd'}}</td>
                  <td>{{item.prix}}</td>
                  <td> <span type="submit" class="badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable" (click)="openModal(item)"><i class="bi bi-check-circle me-1"></i> modifier</span>
                    &nbsp;
                    <span class="badge bg-danger" type="submit" (click)="delete(item)"><i class="bi bi-exclamation-octagon me-1"></i> supprimer</span>
                  </td>
                  <td>  </td>
                </tr>

              </tbody>
            </table>
            <!-- End Table with stripped rows -->
            <app-update-formation *ngIf="addModal" [openModel]="addModal" [formation]="formation"></app-update-formation>
          </div>
        </div>

      </div>
    </div>
  </section>

</main>

