<section class="post_job_area pt-80 pb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="post_job_form">

                    <form #f="ngForm" (ngSubmit)="saveProjet()">
                        <h4 class="post_job_title">Basic information</h4>

                        <div class="single_post_job">
                            <label class="single_post_job">nom :</label>
                            <input type="text" [(ngModel)]="projet.nom" name="nom" #t="ngModel" required>
                        </div>

                        <div class="single_post_job">
                            <label class="single_post_job" for="description">Description :</label>
                            <textarea id="summernote" [(ngModel)]="projet.description" name="description" #t="ngModel" required></textarea>
                        </div>

                        <div class="single_post_job">
                            <label for="prix">Prix :</label>
                            <input type="number" step="0.01" id="prix" name="prix" [(ngModel)]="projet.prix" #t="ngModel" required>
                        </div>

                        <div class="single_post_job">
                            <label for="dateProjet">Date de début :</label>
                            <input type="date" id="datepicker" placeholder="yyyy-mm-dd" name="dateProjet" [(ngModel)]="projet.dateProjet" #t="ngModel" required>
                        </div>

                        <div>
                            <button type="submit">Ajouter</button>
                        </div>
                    </form>

                </div> <!-- JobMate form -->
            </div>
        </div> <!-- JobMate form -->
    </div>
    <!-- container -->
</section>
