
<!-- ======= Sidebar ======= -->

<br /><br /><br /><br />

<!-- ======= Sidebar ======= -->

  <div class="job_projects">
          <div class="datatable-container">
            <table style="min-width: 200%" class="table">
              <thead>
                <tr>
                  <th>titre</th>
                  <th>Description</th>
                  <th>Lieu</th>
                  <th>prix</th>
                  <th>dateEvent</th>
                  <th>image</th>
                 
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of events">
                  <td>{{ item.titre }}</td>
                  <td>
                    <textarea cols="25" rows="5" disabled>{{
                      item.description
                    }}</textarea>
                  </td>
                  <td>{{ item.Lieu}}</td>
                  <td>{{ item.prix }}</td>
                  <td>{{ item.dateEvent}}</td>
                  
                  <td class="image-container">
                    <img src="example.jpg" alt="Image d'exemple">
                </td>
                  <td>
                    <button class="btn btn-danger">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    