<style>
    .custom-card-size {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    
        /* Ombre */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
        /* Bord arrondi */
        border-radius: 10px;
    }
    
    .single_jobs {
        border: none !important; /* Si vos cartes ont une bordure, la supprimer */
    }
    
    /* Adapter l'image */
    .custom-card-size {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10px;     /* Réduction de moitié, de 20px à 10px */
    margin-bottom: 10px;  /* Réduction de moitié, de 20px à 10px */

    /* Les autres styles que nous avons ajoutés précédemment */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
    /* Typographie et espace */
    .jobs_content h4.jobs_title {
        margin-bottom: 10px;
    }
    
    .jobs_meta {
        margin-bottom: 10px;
    }
    
    .jobs_btn .main-btn {
        background-color: #333; /* Couleur d'arrière-plan du bouton, à ajuster selon votre design */
        color: #fff; /* Couleur du texte du bouton */
    }
    </style>
    


<div class="job_projects">
    <div class="row">
        <!-- Start of ngFor loop -->
        <div class="col-sm-4" *ngFor="let p of listprojet ">

            <div class="single_jobs jobs_border text-center mt-30 mx-auto custom-card-size">
                <img src="assets/images/jobs-1.jpg" alt="jobs">
                <div class="jobs_content">
                    <h4 class="jobs_title"><a href="job-details.html">{{p.nom}}</a></h4>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class="location"> {{p.description}}</p>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class=""> {{p.prix}}</p>
                </div>
                <div class="jobs_meta d-flex justify-content-between">
                    <p class="location"><i class="fa fa-map-marker"></i> {{p.dateProjet}}</p>
                    <p class="time"><i class="fa fa-clock-o"></i> Full time</p>
                </div>
                <div class="jobs_btn">
                    <a href="job-details.html" class="main-btn main-btn-2" [routerLink]="['/frontoffice/condid/addcondid', p.projetId]">apply now</a>
                </div>
            </div> <!-- single jobs -->
        </div>
        <!-- End of ngFor loop -->
    </div>
    <ul class="pagination">
        <li class="page-item"><a class="active" href="#">01</a></li>
        <li class="page-item"><a href="#">02</a></li>
        <li class="page-item"><a href="#">03</a></li>
        <li class="page-item"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
    </ul> <!-- pagination -->
</div> <!-- job projects -->
