<section class="post_job_area pt-80 pb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="post_job_form">

                    <form #f="ngForm" (ngSubmit)="SaveCondid()"  menctype="multipart/form-data">
                        <h4 class="post_job_title">Basic information</h4>
                        <label class="single_post_job" for="cvUpload">CV :</label>

                            <input type="file" id="cvUpload" name="cvUpload" accept=".pdf" 
                            (change)="onFileChange($event)"required>
                        <div class="single_post_job">
                            <label class="single_post_job">nom :</label>
                            <input type="text" [(ngModel)]="condidature.nom" class="form-control" name="nom" #t="ngModel" required>
                        </div>

                        <div class="single_post_job">
                            <label class="single_post_job" for="description">prenom :</label>
                            <input id="prenom" [(ngModel)]="condidature.prenom"  class="form-control" name="description" #t="ngModel" required>
                        </div>

                        <div class="single_post_job">
                            <label for="email">email :</label>
                            <input type="email" step="0.01" id="prix" class="form-control" name="prix" [(ngModel)]="condidature.email" #t="ngModel" required>
                        </div>

                        <div class="single_post_job">
                            <label for="tel">tel :</label>
                            <input type="text" id="datepicker" class="form-control" name="tel" [(ngModel)]="condidature.tel" #t="ngModel" required>
                        </div>
              
                        
                        <div class="single_post_job">
                            <label for="lettreMotivation">lettreMotivation :</label>
                            <textarea  id ="summernote "  class="form-control" name="lettreMotivation" [(ngModel)]="condidature.lettreMotivation" #t="ngModel" required></textarea>
                        </div>
                        <div>
                            <button type="submit">Ajouter</button>
                        </div>
                    </form>

                </div> <!-- JobMate form -->
            </div>
        </div> <!-- JobMate form -->
    </div>
    <!-- container -->
</section>
